body{
    background-color: rgb(179, 233, 143) ;
}
h1{
    text-align: left;
    font-style: oblique;
    background-color: rgba(133, 179, 73, 0.685); 
    color:rgb(127, 155, 82);
}

h2{
    text-align: left;
    font-style: oblique;
    background-color: rgba(133, 179, 73, 0.685); 
    color:rgb(127, 155, 82);
}

h3{
    text-align: left;
    font-style: oblique;
    background-color: rgba(133, 179, 73, 0.685); 
    color:rgb(127, 155, 82);
}

h4{
    text-align: left;
    font-style: oblique;
    background-color: rgba(133, 179, 73, 0.685); 
    color:rgb(127, 155, 82);
}

h5{
    text-align: left;
    font-style: oblique;
    background-color: rgba(133, 179, 73, 0.685); 
    color:rgb(127, 155, 82);
}

.briófitas{
   width: 300px;
   height: fit-content; 
}

.Pteridófitas{
    width: 500px;
    height: auto;
}

.Gimnospermas{
    width: 500px;
    height: 300px; 
}

.Angiospermas{
    width: 500px;
    height: auto;
}